@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the AktivGroteskEx font */
@layer base {
    @font-face {
        font-family: 'PPObjectSans';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/public/fonts/PPObjectSans-Regular.otf') format('truetype');
    }

    @font-face {
        font-family: 'PPObjectSans';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/public/fonts/PPObjectSans-Slanted.otf') format('truetype');
    }

    @font-face {
        font-family: 'PPObjectSans';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/public/fonts/PPObjectSans-Heavy.otf') format('truetype');
    }
}

